:root {
  font-family: Montserrat; 
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.form {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
  position: sticky;
  top: 0;
  left: 0;
  row-gap: 10px;
  width: 100%;
  background-color: white;
}
.form-button {
  font: Montserrat;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04;
  width: 91px;
  height: 40px;
  border-radius: 8px;
  background-color: #4E75FF;
  color: #fff;
  border: none;
  margin-left: 10px;
}
.form-button:hover,
.form-button:focus {
  background-color: #6C8CFF;
}
.form-input {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04;
  width: 272px;
  border-radius: 8px;
  border: 1px solid #808080;  
  color: #808080; 
  padding-left: 16px;
}
.form-input:hover {
  border-color:#000000;
}
.form-input:focus {
  outline: none;
  border-color: #4E75FF;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  gap: 24px;
}

.return-begin {
  font: Montserrat;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04;
  width: 150px;
  height: 40px;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  gap: 6px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #0078d4;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

.return-begin svg {
  stroke: currentColor; /* стрелка наследует цвет текста */
}
.return-begin:hover {
  background-color: #6C8CFF;
}
.photo-card {
  padding: 0;
  border: 1px solid rgba(128, 128, 128, 1);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
}
.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-weight: 400;
    font-size: 12px;
}
.info {
  display: flex;
  justify-content:space-between;
  color: darkslategrey;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.info-line {
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 25px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}

.loader {
  width: 48px;
  height: 48px;
  border-width: 3px;
  border-style: dashed solid  solid dotted;
  border-color: #FF3D00 #FF3D00 transparent #FF3D00;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 20px;
  top: 31px;
  border: 10px solid transparent;
  border-right-color: #FF3D00;
  transform: rotate(-40deg);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
